@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body main {
  min-height: calc(100vh - 217px);
}

.dark input,
.dark textarea,
.dark select {
  background: rgba(0, 0, 0, 0.65);
}

.mining-line {
  animation: slide 150.4s linear infinite;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 40px,
    #29ad93 0,
    #29ad93 86px
  );
}

video {
  height: 300px;
}

@-webkit-keyframes slide {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 15000px;
  }
}

.notify-modal .notify-modal-header {
  padding-bottom: 0;
}

.notify-modal .notify-modal-header h3 {
  flex: 1;
  text-align: center;
}

.notify-modal .notify-modal-header button {
  outline: none;
}

.tradingview-widget-copyright {
  display: none;
}

@media only screen and (max-width: 640px) {
  .main-navbar {
    position: fixed;
    z-index: 9;
    background: #FFF;
    top: 60px;
    left: 0;
    right: 0;
    padding: 0 1rem 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}